body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #3498db; 
    color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-container,#signup-container,#contactus-container {
    background: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #0072b1; 
}

label {
    color: #00588e;
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0072b1; 
    color: #fff;
    margin: 10px 0px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #00588e;
}

.forgot-password,
.sign-up,.sign-in {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #0072b1; 
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; 
    color: #333; 
}