body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #3498db; /* Same background color as before */
    color: #fff; /* Same text color as before */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-container,#signup-container,#contactus-container {
    background: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #0072b1; /* Updated heading color */
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0072b1; /* Updated button color */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #00588e; /* Darker shade on hover */
}

.forgot-password,
.sign-up {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #0072b1; /* Same link color as before */
}
